.row
  .col-md-12
    %h1#home-intro
      My name is Brian Ethier and I express myself with code
      =# image_tag 'cursor.gif' Maybe add this later

    .horizontal-line

.row
  .col-md-12
    %p.bio
      Lorem ipsum dolor sit amet, mauris wisi metus porta elit quam erat, et proin nisl volutpat, nulla magna, diam quis euismod sodales eleifend a, ipsum nec. Eleifend lacus odio, risus maecenas perspiciatis pellentesque amet dui, dignissim non lectus sit interdum sed, aliquam fringilla et lacus dolor. Lacus vivamus donec mi torquent justo vel. Justo nec felis dictum commodo, magnis ornare non phasellus lacinia magna, ultricies mi non lectus varius donec velit, nonummy vehicula integer, et rhoncus sagittis ad. Hac cras rutrum eget facilisi turpis congue, consectetuer cursus in massa, vel nascetur ac, sed in nec conubia convallis varius. Imperdiet vestibulum viverra, class 

    %p.bio
      Lorem ipsum dolor sit amet, mauris wisi metus porta elit quam erat, et proin nisl volutpat, nulla magna, diam quis euismod sodales eleifend a, ipsum nec. Eleifend lacus odio, risus maecenas perspiciatis pellentesque amet dui, dignissim non lectus sit interdum sed, aliquam fringilla et lacus dolor. Lacus vivamus donec mi torquent justo vel. Justo nec felis dictum commodo, magnis ornare non phasellus lacinia magna, ultricies mi non lectus varius donec velit, nonummy vehicula integer, et rhoncus sagittis ad. Hac cras rutrum eget facilisi turpis congue, consectetuer cursus in massa, vel nascetur ac, sed in nec conubia convallis varius. Imperdiet vestibulum viverra, class 
