.row
  .col-md-12
    %h1#home-intro
      My name is Brian Ethier and I express myself with code
      =# image_tag 'cursor.gif' Maybe add this later

    .horizontal-line

.row
  .col-md-12
    %p.bio
      I help startups around the world accomplish their goals. I am a full-stack developer with a computer science background, and training from Silicon Valley's startup culture. I brought two companies from the growth stage to aquisition. I understand the hustle, making tough tradeoffs and how to get shit done.
    %p.bio
      As a full-stack developer, there is no project too daunting. I thirst for challenge, and I love solving tough problems. Although the list of languages and technologies that I have experience with is quite long, my specialties include: Ruby on Rails, Javascript, Python, API integrations, data science, and database scalability.
    %p.bio
      On top of all else, I value great communication. Team's productivity relies on their ability to communicate efficiently and effectively. I give clients regular status updates, and make sure to always keep them in the loop. I make it a point to answer emails the day they are received.
      = link_to 'Try me.', 'mailto:davidbrianethier@gmail.com'
    %p.bio
      I'd love to work with you on your next endeavor. I offer free consultations, and I'm happy to give you my advice no matter the outcome.
.row
  .cold-md-12#get-started
    = link_to 'Click here to get started!', '/contact', :class => 'btn btn-lg btn-success', :id => 'cta'
