.row
  .col-md-12
    %p
      Programming is not only my career, it is also one of my most cherished passions. Here is a selection of some of my favorite side projects.

    %h2
      Crypto

    %h2
      Startups

    %h2
      Consulting Work

    %h2
      Misc
