%h1
  Amazon Bitcoins

%p Amazon Bitcoins was the first website to allow people to cash out their Bitcoin to buy Amazon Giftcards (2012-2013). All the user had to do was send Bitcoin to a generated address associated with their account, and they were emailed an Amazon giftcard for the equivalent amount of money.
%p I was the first person to integrate with Coinbase's API. I found a bug in it, and even helped their engineers fix it.

.row
  %h2 Tools Used
  %p
    Ruby on Rails, API integrations, Bitcoin, Crypto

  .project-image
    = image_tag('projects/amazon-bitcoins.png')
  %p.project-image-caption.text-center
    The homepage circa 2013. Look at that exchange rate (ouch)
