%h1
  Burner Wallet

%p The Burner Wallet is a web based crypto wallet which allows users to onboard to using crypto in a matter of seconds.
%p The project has been described by Joseph Lubin, the founder of Consensys as one of the most important projects for crypto adoption as it lowers the barrier to adoption so dramatically.
%p
  I'm an early developer and project maintainer for the wallet.
  = link_to 'Github', 'https://github.com/austintgriffith/burner-wallet', {target: '_blank'}

%p Check out details about the awesome event at ETHDenver where we used the wallet to transact over $100k with over 3,000 users in a weekend:
%p= link_to 'ETHDenver Details', 'https://medium.com/gitcoin/burner-wallet-at-ethdenver-was-faa3851ea833', {target: '_blank'}
%p Also checkout my post about Local coins and micro economies which inspired the structure of the event:
= link_to 'Localcoins and micro economies', 'https://medium.com/@david.brian.ethier/localcoins-and-micro-economies-cbc3639b5c5', {target: '_blank'}



.row
  %h2 Tools Used
  %p
    React, Ethereum Blockchain, Solidity, ES6, Cryptography

  .project-image
    = image_tag('projects/xdai.jpg')
  %p.project-image-caption.text-center
    The Burner Wallet
