%h1
  Career

.row
  .col-md-4
    .career-description-left
      %h3
        Copilot Labs
      %h4
        Software Engineer
      %p
        Did stuff and also things. Also did other things related to stuff.
  .col-md-4
    .career-logo
      = image_tag 'copilotlogo200px.png'
  .col-md-4
    .career-description-right
      %h3
        2012-2014
      %h4
        Technologies used:
      %p
        Python, Django, Hadoop, Cascading, Amazon EC2, Data Science, SciPy

