.row.career-row
  .col-md-4.col-xs-12
    .career-description.left
      %h3
        Copilot Labs
      %h4
        Senior Software Engineer
      %p
        First engineering hire. Architected, implemented and maintained 100 machine Hadoop cluster for advanced statistical analysis. 

  .col-md-4.col-xs-12
    .career-logo
      = image_tag 'copilot-128px.png'

  .col-md-4.col-xs-12
    .career-description.right
      %h3
        2012-2014
      %h4
        Technologies used:
      %p
        Data Science, Python, Django, Hadoop, Cascading, Amazon EC2 DevOps


.row.career-row
  .col-md-4.col-xs-12
    .career-description.left
      %h3
        Rapleaf
      %h4
        Software Engineer
      %p
        Full stack developer in charge of creating web applications used to visualize and manipulate more than billion element data sets

  .col-md-4.col-xs-12
    .career-logo
      = image_tag 'rapleaf-128px.png'

  .col-md-4.col-xs-12
    .career-description.right
      %h3
        2010-2012
      %h4
        Technologies used:
      %p
        Ruby on Rails, Javascript, Backbone.js, Hadoop, Cascading

.row.career-row
  .col-md-4.col-xs-12
    .career-description.left
      %h3
        Under Construction
      %h4
        More to come

  .col-md-4.col-xs-12
    .career-logo

  .col-md-4.col-xs-12
    .career-description.right
      %h3
        Under Construction
      %h4
        More to come
