%h1
  Google Home Chess Bot

%p
  I created a bot which you can play chess against using a Google Home. Using voice commands you are able to issues moves and the Google Home will respond with its move generated from the Stockfish chess engine.
%p
  = link_to 'Github link', 'https://github.com/dbe/playChessByVoice'

.row
  %h2 Tools Used
  %p
    Api.ai, Javascript, Node, Stockfish

.row
  .project-image
  <iframe width="1265" height="533" src="https://www.youtube.com/embed/HlnupzDlSGs?start=7" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  %p.project-image-caption.text-center
    Playing chess against the bot
