%h1.crumb
  Contact

.horizontal-line

%h3
  I love email.

%p
  I use asychronous communication for notes, and sychronous communication for details. Send me a quick note about your project and we can schedule a free voice call to discuss details. I respond to emails the same day I receive them!

%dl
  %dt
    Email: 
  %dd
    david.brian.ethier@gmail.com
