%h1 ETH.RIP

%p ETH.RIP is an art project I built showcasing the ability to provably burn money using the blockchain.
%p Users can attach a message when they burn money, making a historic statement which will live on the blockchain forever.
%p
  I also wrote an associated piece showcasing the need for skepticism on such websites and explaining the wonderful ability for the user to "Trust but verify" that the website is doing what it claims to be doing:
  = link_to 'Medium Article', 'https://medium.com/coinmonks/scamming-in-ethereum-is-easy-56aba1a6d985', {target: '_blank'}
= link_to 'ETH.RIP Website', "http://eth.rip", {target: '_blank'}


.row
  %h2 Tools Used
  %p
    React, ES6, Truffle, Ethereum Blockchain, Solidity

  .project-image
    = image_tag('projects/eth_rip.png')
  %p.project-image-caption.text-center
    The homepage for ETH.RIP
