Rippld project

#slides
  = image_tag('rippld-website.png')
  = image_tag('rippld-neo4j.png')

:javascript
  $(function() {
    $('#slides').slidesjs({
      width: 400,
      height: 400,
    });
  });

