%h1
  Saigon Tiger

%p Saigon is a grocery delivery company I started while living in Saigon, Vietnam. I realized that Saigon had a robust delivery infrastructure for groceries already, but no easy to use interface for people to access it.
%p I made a deal with one of the local grocery chains to fulfill delivery for orders placed on my website. Users would shop online, checkout and an invoice would go directly to the grocery store who would then fulfill and deliver the goods same-day.


.row
  %h2 Tools Used
  %p
    Ruby on Rails, Heroku, Postgres

  .project-image
    = image_tag('projects/saigon-tiger.png')
  %p.project-image-caption.text-center
    The Saigon Tiger website
