%h1
  Solidcoin

%p Solidcoin is a startup I created to produce physical coins with QR codes which allow for the user to redeem stored crytocurrency. The coins were great as promotional tools for crypto companies, and great gifts for crypto enthusiasts.
%p
  The coins QR code represents a unique key which allows the user to redeem the coin into their
  = link_to 'Burner Wallet.', '/experience/projects/burner_wallet'

%p
  At ETHDenver, each participant was given a Solidcoin pre-loaded with a custom cryptocurrency used to buy food and art during the event. Read more about the event on my post about localcoins and micro economies:
  = link_to 'Medium Article', 'https://medium.com/@david.brian.ethier/localcoins-and-micro-economies-cbc3639b5c5'



.row
  %h2 Tools Used
  %p
    Ethereum Blockchain, ES6, Cryptography

  .project-image
    = image_tag('projects/solidcoin.jpeg')
  %p.project-image-caption.text-center
    Solidcoins made for ETHDenver
