%h1
  Traveljoy

%p I was hired by Traveljoy to optimize their travel agent facing website. The site ran very slow on certain views which contained large data tables.
%p I was able to improve site load times by an order of magnitude, from about 10 seconds, to sub-second load times.

.row
  %h2 Tools Used
  %p
    ES6, Ruby on Rails, Optimization

  .project-image
    = image_tag('projects/traveljoy.png')
  %p.project-image-caption.text-center
    Traveljoy's website
