// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#main {
  margin: 30px;
}

#nav-links {
  margin-top: 40px;
  font-weight: 300;
}

#nav-links a {
  font-size: 18px;
  color: #8c8c8c;
}

#nav-links ul {
  padding-left: 20px;
}

#nav-links li.selected a {
  font-size: 20px;
  margin-left: 3px;
  color: #333;
}

#nav-links li.hidden a {
  display: none;
}

#social-links {
  margin-top: 40px;
  margin-left: 40px;
}

#social-links a {
  float: left;
  margin-right: 10px;
}

//-----------Career----------------//

.career-logo {
  width: 128px;
  height: 128px;
  margin: 0 auto;
}

.career-logo::after {
  display: block;
  position: relative;
  top: -5px;
  height: 180px;
  width: 1px;
  margin: 0 auto;
  z-index: -1;
  background-color: #ddd;
  content: '';
}

.career-row {
  margin-bottom: 75px;
}

.career-description {
  width: 80%;
}

.career-description.left {
  float: right;
  text-align: right;
}

.career-description.right {
  float: left;
  text-align: left;
}
