// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);

* {
  font-family: "Roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

#main {
  margin: 30px;
}

#left-nav {
  margin-bottom: 50px;
}

#nav-links {
  margin-top: 40px;
  font-weight: 300;
}

#nav-links a {
  font-size: 18px;

  //Fallback for older browsers
  color: #8c8c8c;
  color: rgba(0, 0, 0, .26);

  &:hover {
    color: rgba(0, 0, 0, .54);
  }
}

#nav-links ul {
  padding-left: 20px;
}

#nav-links li.selected a {
  font-size: 20px;

  //Fallback for older browsers
  color: #000;
  color: rgba(0, 0, 0, .87);
}

#nav-links li.hidden a {
  display: none;
}

#social-links {
  margin-top: 40px;
  margin-left: 40px;
}

#social-links a {
  float: left;
  margin-right: 10px;
}

//-----------Career----------------//

.career-logo {
  width: 128px;
  height: 128px;
  margin: 0 auto;
}

.career-logo::after {
  display: block;
  position: relative;
  top: -5px;
  height: 180px;
  width: 1px;
  margin: 0 auto;
  z-index: -1;
  background-color: #ddd;
  background-color: rgba(0,0,0,.27);
  content: '';
}

.circle {
  border: 1px solid rgba(0,0,0,.27);
  border-radius: 50%;
  width: 128px;
  height: 128px;
  position: absolute;
  top: 0px;
}

.career-row {
  margin-bottom: 75px;
}

.career-description {
  width: 80%;
}

.career-description.left {
  float: right;
  text-align: right;
}

.career-description.right {
  float: left;
  text-align: left;
}



//-------------About-------------//

.horizontal-line {
  border-bottom: 1px solid #FF5722;
  border-bottom: 1px solid #FFAB91;
  margin-bottom: 30px;
}

#home-intro {
  font-size: 72px;
  font-weight: 100;
}

.bio {
  margin: 30px 0;
  font-size: 16px;
}

h2.crumb {
  color: rgba(0, 0, 0, .54);
  font-size: 16px;
  margin: 0;
}

h1.crumb {
  margin: 0;
}

#get-started {
  margin-top: 30px;
  text-align: center;
}

#get-started a {
  background-color: #FF5722;
}

#cta {
  border: none;
  font-weight: 200;
}



